body {
    /* font-family: 'DM Serif Display', serif; */
    font-family: 'Roboto', sans-serif;
}
.site-header{

    height: 131px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    font-size: 16px;

}

.logo {

width: 181px;
}
.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
   
     
}
.menu ul li{
    display: flex;
    justify-content: center; 
    align-items: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    
    
     
}
.v-center{
    display: flex;
    justify-content: center; 
    align-items: center;
}
.menu {

}
.icon {
    width: 24px;
    height: 24px;
}
a {
    text-decoration: none;
    color: #000000;
}
.phoneIcon {
    margin-right: 16px;
}
.loginIcon {
    margin-right: 11px;
    margin-left: 30px;
}
.sect1 {
    height: 874px;
    background-size: cover;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    }
.text1 {
    height: 108,04px;
    width: 755px;
}
.text1 h1 {
    font-weight: 400;
    line-height: 126.15px;
}

.subtitle {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 42px;

}
.knopkaPlay {
    position: relative;
    height: 214px;
    width: 214px;
}
.img_video {
	cursor: pointer;
	cursor: hand; /* Для старых браузеров */
}
.modal_form {
	width: 700px; 
	height: 550px; /* Рaзмеры дoлжны быть фиксирoвaны */
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -275px;
	margin-left: -350px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 9999; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}

/* Пoдлoжкa */
.overlay {
	z-index:9998; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.98; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.98; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}

/* Кнoпкa зaкрыть */
.modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 26px;
	cursor: pointer;
	display: block;
	color:white;
}
h1 {
    font-family: 'DM Serif Display', serif; 
    color: #FFFFFF;
    font-size: 92px;
    margin: 0;
}
.play {
    position: absolute;
    top:66px;
    left: 80px;
}
.sect2 {
    height:865px;
    background: #E5E5E5;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.imgBuild {
        height: 35vw;
        width: 35vw;
    background-color: #FA9B24;
    position: relative;
}
.sect2H1 {
    color: #000000;
    font-size: 50px;
}
.sect2Subtitle {
   font-size: 16px;
line-height: 32px;
letter-spacing: 0em;
margin-bottom: 45px;
max-width:621px;

}
.imgBuild1{
    height: 35vw;
    width: 40vw;
    position: absolute;
    top: 67.21px;
}
.sect2Text {
    width: 50%;
   
}
.sect3H1{
    color: #000000;
    font-size: 50px; 
    padding-top: 91px;
    margin: 0;
    padding-bottom: 44px;
}
.sect3 {
    
    text-align: center;
    background-color: #FBF9F7;
    padding-bottom: 35px;
}

.bloki {
    Width: 363px;
    Height: 523px;
    text-align: left;
    margin-bottom:52px;

}
.bloki h1 {
    color: black;
    font-size: 20px;
    margin-top:25px;
    margin-bottom:10px;

}
.bloki .price {
    font-size: 30px;
    text-align:center;
    margin:0;   
    font-family: 'DM Serif Display', serif;

}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    gap: 29px;
}
.viewAll {
   margin-top: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.columnWrapper {
    display: flex;
    justify-content: space-between;
}
.grayText {
    color: #565656;
    font-size: 14px;
    margin-top:0;
    margin-bottom:4px;

}
.blackBoldText {
    color:#0F0F0F;
    margin-top:0;
    margin-bottom:20px;
    font-family: 'DM Serif Display', serif;
   

font-size: 20px;
}
.button {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 63px;
    background-color: #FA9B24;
    color: #E5E5E5;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    border: 0;

}
.sect4 {
    
    text-align: center;
}
.sect4 p.sect2Subtitle {
    width: 1009px;
    margin: auto;
    padding-bottom: 56px;
}
.wrapperOurPortfolio {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    gap: 32px;
    padding-bottom: 109px;
}

.blokiOurPortfolio h1 {
    font-size:30px;
    color: #0F0F0F;
}
.blokiOurPortfolio {
    background-color: #FBF9F7;
    border: 1px solid rgba(163, 163, 163, 0.21);
}
.sect5 {
    height: 1243px;
    background: #FBF9F7;
    
}
.whySps {
    height: 1054px;
    
    justify-content: center;
    display: flex;
    
   
    
}
.imgWhySps {
    Width: 1278px;
    Height: 516px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.sect5 h1 {
    text-align: center;


}
.columnWhy h1 {
    font-size:30px;
    color: #0F0F0F;
    text-align: left;
    
}

.columnWhy p.sect2Subtitle {
    width: 363px;
}
.columnWrapperWhy {
    display: flex;
    justify-content: space-between;

}
.sect6 {
    Height:696px;
    background: #1F1F1F;
    position: relative;

}
.sect6 h1 {
    color: #FFFFFF;
    text-align: center;

}
.reviews {
    width: 90%;
}
.swiper-button-next, .swiper-button-prev {
    color: #FA9B24;
    top: 55%;
    width: 11.5px;
    height: 23px;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 20px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 20px;
}
/* .wrapperReviews {
    display: flex;
    align-content: space-between;
    justify-content: center;
    gap: 27px;
    padding: 0 100px;
} */
.blokiReviews {
    background-color: #464645;
    
    position: relative;
    
    
    
}
.avatarH1 {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 21px;
    padding-left: 52px;
    padding-bottom: 10px;
}
.h1Avatar h1 {
    font-size: 30px;
}


.revievText p {
    color: #FFFFFF;
    line-height: 32px;
    width: 394px;
    margin: 0;
    position: relative;
    padding-left: 40px;
    padding-bottom: 31px;
    
}
.skobki1 p, .skobki2 p {
    font-size: 252.2px;
    color: #50504E;
   margin: 0;
    font-family: 'DM Serif Display', serif;
    

}
.skobki1 {
    top: 27px;
    left: 32px;
    position: absolute;

}
.skobki2 {
bottom: 0;
right: 19px;
    transform: rotate(-180deg);
    position: absolute;
}

.sect7 {
    background: #E5E5E5;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.imgLesnicaDiv {
    height: 40vw;
    width: 40vw;
    background-color: #FA9B24;
    position: relative;
}
.sect7Text {
    width: 50%;
}
.imgLesnica {
    top: 0;
    width: 45vw;
position: absolute;

}
.knopkiSekt7 {
    display: flex;
    gap: 34px;
}
.sect7 h1.sect2H1{
    width: 621px;
    margin: inherit;
}
.StayConnected {
    Height: 873px;
    background:  #FBF9F7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}
.stayH {
    font-size: 30px;
    color: #0F0F0F;
    
}
.socialNetwork {
    display: flex;
    gap: 16px;
}
.Facebook {
    background: #FA9B24;
    border-radius: 50px;
    Width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.subscribe {
    width: 180px;
    position: absolute;
}
.activeCampaign {
   
    position: relative;
}
.activeCampaign .button {
    position: absolute;
    right: 0px;

}
.activeCampaignGrey {
    width: 80%;
    padding-top: 27px;
    padding-bottom: 33px;
    border-radius: 63px 0px 0px 63px;
    border: 0;
    background-color: #EAEAEA;
    font-size: 16px;
    position: relative;
    padding-left: 46px;

    
}
.texstStay .activeCampaign {
    width: 538px;
}
::placeholder {
    color: rgba(0, 0, 0, 0.2);
}



/*.texstStay p.sect2Subtitle {
    width: 
}
*/

.imgTrio {
    Width:486px;
    Height:538px;
    background-color: #FA9B24;
    margin-right: 255PX;
    position: relative;

}
.trio1{
    position: absolute;
    top: 45px;
    right: 167px;
}
.trio2{
    position: absolute;
    bottom: 310px;
    right: -70px;
}
.trio3 {
    position: absolute;
    top: 265px;
    right: -160px;
}

.ready {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
}
.imgReadyDiv {
    Width: 39vw;
    Height: 35vw;
    background-color: #FA9B24;
    position: relative;
    margin-top: 116px;
    display: flex;
    justify-content: space-around;
}
.imgReady {
    width: 34vw;
    position: absolute;
    bottom: 0;
    
   
}
.SubscribeNewsletter {
    height: 479px;
    background: #1F1F1F;
    
}
.SubscribeNewsletter h1 {
    color: #FFFFFF;
    text-align: center;
    padding-top: 74px;

}
.knopkaNews {
    width: 755px;
    margin: auto;
    margin-bottom: 64px;
}
.knopkaNews .activeCampaignGrey {
    
    background-color: rgba(234, 234, 234, 0.46);
}

.knopkaNews ::placeholder {
    color: #FFFFFF;
}


.columnWrapperContact {
    display: flex;
    justify-content: space-around;

}

.stroka1{
    display: flex;
   vertical-align: middle;

}
.drugaya {
    align-items: center;
}
.stroka1 p {
    color: #FFFFFF;
   
}
.line {
    line-height: 48px;
}

.ikonka {
    width: 24px;
    height: 24px;
    margin-right: 14px;
   
}
.line .ikonka{
    padding-top: 28px;
}
.footerSite {
    height: 157px;
    background-color: #FA9B24;
    display: flex;
    justify-content: space-evenly;
}

.menuFooter ul {
   
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 89px;
}
.menuFooter a {
    color: #FFFFFF;
}

.menuFooter {
    display: flex;
    align-items: center;
}

.logoFoter {
    display: flex;
align-items: center;
}

.slick-prev {
    left: 50px;
}
.slick-prev:before {
    content: url('../img/Vector 4.png');
}
.slick-next {
    right: 50px;
}
.slick-next:before {
    content: url('../img/Vector 5.png');
}

@media (max-width: 480px) {
    .site-header {
        align-items: center;
    }
    .menu-btn {
        height: 30px;
    }
    .logo {
        padding: 3px;
        margin: 8px;
        width: 145px;
    }
    
    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .phoneIcon {
        margin-right: 5px;
    }
    .loginIcon {
        margin-left: 15px;
    }
    h1 {
        font-size: 31px;
    }
    .sect1 {
        display: block;
        height: 100%;
        text-align: center;
        padding-bottom: 1em;
    }
    .knopkaPlay {
        margin: auto;
    }
    .text1 {
        width: 100%;
        padding: 1px;
    }
    .text1 h1 {
        line-height: normal;
    }
    .imgBuild {
        display: none;
    }
    .sect2H1 {
        font-size: 31px;
    }
    .sect2{
        height: 100%;
        padding-bottom: 53px;
    }
    .sect2Subtitle {
        width: 100%;
    }
    .sect2Text {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .sect3H1 {
        font-size: 31px;
        padding-top: 35px;
    }
    .bloki h1 {
        text-align: center;
    }
    .sect3 {
        height: 100%;
        padding-bottom: 50px;
    }
    .bloki .price {
        font-size: 23px;
    }
    .viewAll {
        margin-top: 10px;
    }
    .wrapper {
        gap: 0;
    }
    .sect4 p.sect2Subtitle {
        width: 100%;
    }
    .sect4 {
        height: 100%;
        padding: 10px;
    } 
    .blokiOurPortfolio img {
        width: 100%;
    }
    .blokiOurPortfolio h1 {
        font-size: 23px;
    }
    .imgWhySps {
        Width: 100%;
        Height: auto;
        background-size: cover;
        margin-bottom: 56px;
       
    }
    .columnWrapperWhy {
     display: block;
    }
    .columnWhy h1 {
        font-size: 23px;
        text-align: center;
    }
    .columnWhy {
        text-align: center;
    }
    .sect5 {
        height: 100%;
    }
    .sect6 {
        Height: 100%;
    }
    .sect7 {
        Height: 100%;
        padding-bottom: 45px;
    }
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
    .revievText p {
        padding-left: 13px;
    }
    .reviews {
        padding-bottom: 35px;
    }

    .imgLesnicaDiv {
        display: none;
    }
    .sect7 h1.sect2H1 {
        width: 100%;
    }
    .sect7Text {
         width: 100%;
         padding: 10px;
         text-align: center;
    }
    .knopkiSekt7 {
        display: flex;
        gap: 75px;
        flex-direction: column;
    }
    .button{
        font-size: 11px;
    }
    .imgTrio {
        display: none;
    }
    .StayConnected {
        Height: 100%;
        display: block;
        padding: 10px;
        text-align: center;
        padding-bottom: 35px;
    }
    .socialNetwork {
        display: flex;
        justify-content: center;
    }
    .texstStay .activeCampaign {
        width: 93%;
    }
    .activeCampaignGrey {
        width: 74%;
        font-size: 13px;
        padding-bottom: 30px;
    }
    .imgReadyDiv {
        display: none;
    }
    .ready {
        height: 100%;
        text-align: center;
        padding: 10px;
        padding-bottom: 55px;
    }
    .SubscribeNewsletter {
         height: 100%;
         padding: 10px;
         padding-bottom: 20px;
    }
    .knopkaNews {
         width: 100%;
         margin-bottom: 25px;
    }
    .SubscribeNewsletter h1 {
       padding-top: 0px;
    }
    .columnWrapperContact {
        display: grid;
    }
    .line {
         line-height: normal;
    }
    .menuFooter ul {
        display: flex;
        gap: 6px;
        flex-direction: column;
    }
    .footerSite {
        
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-left: 0px;
    }
    .logo {
        width: 150px;
        margin: 10px;
    }
    .phoneIcon {
        margin-right: 5px;
    }
    .loginIcon {
        margin-left: 15px;
    }
    .site-header {
        font-size: 20px;
    }
    .sect1{
        display: block;
        height: 100%;
        text-align: center;
        padding-bottom: 25px;
    }
    h1 {
        margin: 0;
        font-size: 60px;
    }
    .text1 {
        width: 100%;
        }
    .text1 h1 {
        line-height: normal;
        padding-top: 30px;
    }
    .knopkaPlay {
        margin: auto;
    }
    .sect2 {
        height: 100%;
    }
    .imgBuild {
        display: none;
    }
   
    .sect2Subtitle {
        width: 100%;
        margin: 45px auto;
    }
    .sect2H1 {
        font-size: 35px;
        padding-top: 40px;
    }
    .sect2Text {
        padding: 0px 15px 60px 15px;
        width: 100%;
        text-align: center;
    }   

    .viewAll {
         margin-top: 0;
    }
    .sect3H1 {
        font-size: 35px;
        padding-top: 40px;
    }
    .sect4 p.sect2Subtitle {
         width: 100%;
    }
    .imgLesnicaDiv {
        display: none;
    }
    .imgWhySps {
        Width: 100%;
        Height: auto;
        background-size: cover;
        margin-bottom: 50px;
    }
    .whySps {
        height: 100%;
        display: block;
    }
    .sect5 {
        text-align: center;
    }
    .columnWhy h1 {
        text-align: center;
    }
    .columnWrapperWhy {
        display: block;
    }
    
    .sect6 {
         Height: 100%;
    }
    .sect7 h1.sect2H1 {
        width: 100%;
    }
    .sect7Text {
         width: 100%;
         padding: 15px;
    }
    .sect7 {
        height: 100%;
        text-align: center;
    }
    .knopkiSekt7 {
        display: flex;
        gap: 75px;
        flex-direction: column;
        padding-bottom: 70px;
    }
    .imgTrio {
        display: none;
    }
    .StayConnected {
         Height: 100%;
         text-align: center;
    }
    .socialNetwork {
        justify-content: center;
    }
    .texstStay .activeCampaign {
        width: 93%;
    }
    .stayH {
        margin: 15px;
    }
    .activeCampaign {
        margin-bottom: 40px;
    }
    .imgReadyDiv {
        display: none;
    }
    .texstReady {
        text-align: center;
 
    } 
    .ready {
        height: 100%;
    }
    
    .knopkaNews {
        width: 95%;
    }
    .SubscribeNewsletter {
        height: 100%;
        padding: 10px;
    }
    .SubscribeNewsletter h1 {
        padding-top: 35px;
        padding-bottom: 20px;
    }
    .footerSite {
        height: 100%;
    }
    .menuFooter ul {
        flex-direction: column;
        gap: 17px;
    }
}





@media (max-width: 1024px) {
    h1 {
        font-size: 70px;
    }
    .sect1 {
        height: 100%;
        padding: 0 10px 40px 20px;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding-left: 0px;
    }
    .site-header {
        font-size: 25px;
    }
    .sect2 {
        height: 100%;
        padding-bottom: 65px;
        padding-top: 30px;
    }
    
    .sect2Subtitle {
     width: 100%;
    }
    .sect2H1 {
        font-size: 40px;
    }
    .sect2Text {
        padding-right: 50px;
    }
    .imgBuild {
        height: 365px;
        width: 283px;
    }
    .imgBuild1 {
        height: 320px;
        width: 323px; 
        top: 45px;  
    }
    .sect3H1 {
        font-size: 40px;
    }
    .sect4 p.sect2Subtitle {
        width: 100%;
    }
    .sect3H1 {
        padding-top: 45px;
    }
    .imgWhySps {
        width: 100%;
            margin-bottom: 20px;
    }
    .whySps {
        height: 100%;
        display: block;
    }
    .sect5 {
        height: 100%;
    }
    .columnWrapperWhy {
            flex-direction: column;
            align-items: center;
    }
    .sect7 h1.sect2H1 {
        width: 100%;
    }
    .sect7Text {
        margin-right: 30px;
        padding-top: 30px;
    }
    .imgLesnicaDiv {
        
        
    }
    .imgLesnica {
       bottom: 27px;
    }
    .StayConnected {
        Height: 100%;
        text-align: center;
        padding-bottom: 35px;
        padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
   }
   .socialNetwork {
    justify-content: center;
    }
    .imgReadyDiv {
    display: none;
    }
    .imgTrio {
        display: none;
    }
    .texstStay .activeCampaign {
        width: 93%;
    }
    .knopkiSekt7 {
        padding-bottom: 60px;
        justify-content: center;

    }
    .ready{
        text-align: center;
     }
     .menuFooter ul {
        gap: 35px;
     }
}

@media (max-width: 1026px) {
    .phoneIcon {
    margin-right: 4px;
    margin-left: 23px;
}
}

@media (max-width: 1314px) {
    .imgWhySps {
        Width: 100%;
    }
    .whySps {
    display: block;
    }
}